body {
    background-image: url(bg.jpg);
}
.container {
    width: 70%;
    text-align: center;
    vertical-align: center;
    padding-top: 45px;
    font-family: Helvetica, sans-serif;
    font-size: 1.1em;
}
img {
    width: 100%;
}
h2 {
    font-weight: bold;
	font-size: 1.1em;
    padding: 0;
    margin: 0;
}
.black_bg h2 {
    color: #fede00;
}
header a {
    color: black;
    text-decoration: none;
}
header a:hover {
    color: black
}
header a:active {
    color: #fede00;
}
.navbar:before{display: none;}
.navbar:after{display: none;}
.navbar {
    font-size: medium;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    margin-bottom: 0px;
}
.nav-item {
	min-width: 125px;
    padding-top: 50px;
    padding-bottom: 50px;
	background-color: #ffffff;
}
.nav-item:nth-child(1){
    grid-column: 1/3;
    font-size: 50px;
    Line-height: 1;
    padding: 10px;
}
.nav-item:nth-child(1):hover{
	background-color: black;
}
.nav-item:nth-child(even){
	background-color: #ececec;
}
.nav-item:hover {
	background-color: #fede00;
}
.carousel-inner {
    width: 100%;
    margin: 0;
    padding: 0;
}
.carousel-control.left.bottom {
    height: 10%;
    top: unset;
    left: unset;
    right: 10%
}
.carousel-control.right.bottom {
    height: 10%;
    top: unset;
}

.h_line{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
}
.v_line{
    display: grid;
    /*grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(0px, 1fr));
    width: 100%;*/
}
.h_line_sub {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(126px, 1fr));
}
.info_text {
    padding: 10px;
    background-color: #fff;
	text-align: center;
}
.info_text img {
    border-radius: 100%;
    width: 70%;
}
.yellow_bg {
    background-color: #fede00;
}
.black_bg {
    background-color: black;
    color: #fff;
}
.btn-group-vertical {
    background-color: black;
    display: grid;
}
.btn-group-vertical button {
    width: 100%;
    background-color: black;
    color: #fff;
    border-color: #8e8e8e;
	font-size: 0.8em;
}
footer {
    background-color: #fff;
    width: 100%;
    color: #8e8e8e;
	text-align: right;
}
footer div {
	float: left;
	margin: 5px;
}
footer img {
	width: 5%;
}
footer a {
	color: #8e8e8e;
}                                            
footer a:hover {
	color: black;
}
