.conteiner {
    width: 60%;
}

.container span {
    text-align: justify;
}

.navbar {
    font-size: medium;
    float: center;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(2, 100px);
}

nav a {
    padding: 5px;
    text-decoration: none;
}